@media screen and (max-width: 500px) {
    .add_block {
        position: fixed;
        bottom: 50px;
        z-index: 10;
        right: 60px;
        padding: 0 !important;
    }
    .app__block__header {
        justify-content: center !important;
    }
    .search__block {
        width: 100% !important;
    }
    button[name="search"] {
        margin: 0 auto;
    }
    input[name="search"] {
        width: 60% !important;
        margin: 0 !important;
    }
    .search_icon {
        left: 10px !important;
    }
    .nav__block {
        width: 0;
        margin-left: -145px;
    }
    .app__block {
        width: 100% !important;
    }
    .user_link_block {
        width: 45% !important;
        margin: 20px 5px !important;
        max-height: 305px !important;
        min-height: 305px !important;

    }
    .add__modal {
        position: fixed !important;
    }
    .app__section {
        overflow-x: hidden;
    }

    .all_links {
        padding: 0 !important;
        width: 85% !important;
    }
    .login__block {
        padding: 20px 60px !important;
        width: 55% !important;
    }
    .mobile__button {
        display: block !important;
        position: fixed;
        left: -7px;
        font-size: 18px;
        top: 130px;
        z-index: 1;
    }
    .mobile__button p {
        background: #673ab7;
        color: aliceblue;
        padding: 5px 10px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-right: 5px;
    }
    .nav__menu {
        position: fixed;
        z-index: 1;
        background: #f0f8ff70;
        backdrop-filter: blur(3px);
        top: 180px;
        left: -180px;
        transition: .3s ease-out;
        width: 180px;
    }
      .categories {
        color: #4b4b4b !important;
    }
    .youtube__player__btn {
        right: 30px !important;
        bottom: 69px !important;
    }
    .player__mode__btn {
        color: #007bff;
        opacity: .7;
    }
    .player__section {
        width: 100%;
        margin: 15px 0;
    }
    .category__list {
        color: #171717 !important;
    }
}